/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/
header{
	padding: 25px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	margin-top: 8px;
    width: 13%;
    float: left;
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	width: 65%;
	float: right;
}
.menu ul{
	list-style: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0px 50px;
	font-size: 17px;
	color: #626262;
	text-decoration: none;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s;
}
.menu ul li a:hover{
	border-bottom: 1px solid;
	color: #626262;
}
.menu ul li:last-child a{
	margin-right: 0;
}
/*header end*/
/*banner start*/
.banner{
	margin: 0 auto;
}
.banner img{
	width: 100%;
}
/*banner end*/
/*photodiary start*/
.photodiary{
	padding: 70px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;

}
.p-content{}
.c-light{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c-h1{
	font-size: 30px;
	font-weight: 400;
}
.c-text{
	margin: 0;
	line-height: 26px;
}
.m-t-b{
	margin-top: 20px;
	margin-bottom: 30px;
}
.m-b{
	margin-bottom: 45px;
}
/*photodiary end*/
/*lifestyle start*/
.blog{
	padding: 70px 0 10px;
}
.b-content{
	overflow: hidden;
}
.s-blog{
	margin-bottom: 60px;
	width: 47%;
	float: left;
}
.s-blog:nth-child(even) {
	margin-left: 6%;
}
.sb-img{
	margin-bottom: 25px;
}
.sb-img img{
	width: 100%;
}
.mtb{
	margin: 25px 0 30px;
}

/*lifestyle end*/
/*newsletter start*/
.news{
	padding: 50px 0;
    background-color: #f0f0f0;
}
.sign_up{
	width: 25%;
	margin: 0 auto;
	position: relative;
}
.sign_up h1{
	font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: #626262;
    text-transform: capitalize;
    margin-bottom: 60px;
    
}
.sign_up input{
	padding-right: 36px;
    padding-left: 5px;
    width: 89%;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
}
.sign_up input:focus{
	outline: 0;
}
.sign_up img{}
.icon{
	position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
/*lewsletter end*/
/*load more*/
.b-btn{
	margin: 130px 0 130px;
	text-align: center;
}
.b-btn button{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	width: 160px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #626262;
    cursor: pointer;
}

/*footer start*/
footer{
	background: #f0f0f0;
    padding: 30px 0;
}
.f_content{
	width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.terms{
	width: 30%;
    float: left;
}
.terms ul{
	margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.terms ul li{
	float: left;
    margin-right: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 700;
    color: #626262;
    text-transform: capitalize;
}
.social{
	width: 40%;
    float: right;
}
.social ul{
	margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 15px;
    float: right;
}
.social ul li{
	float: left;
    margin-left: 20px;
}
.social ul li a{
    text-decoration: none;
    color: #626262;
    font-size: 18px;
}
/*footer end*/





















